@import "app";

.sidebar-logo-contain{
  @apply h-14 w-full flex items-center ;
  background: #009966;
  .logo-contain{
    @apply  inline-block w-max h-max p-3;
    .el-image{
      width: 36px;
      height: 36px;
    }
  }
  .title-contain{
    @apply h-max w-max inline-block text-white select-none text-lg ;
  }
}

.titleAnime-enter-active{
  animation: flipInX 1.2s;
}

.titleAnime-leave-active{
  animation: flipOutX .2s;
}

.sidemenu:not(.el-menu--collapse) {
  width: 221px;
  height: 100vh;
  ::v-deep(span){
    @apply tracking-wider ;
    font-size: 16px !important;
    margin-left: 10px;
  }
}

::v-deep(.el-menu--collapse){
  height: 100vh;
}
