.profile-contain {
  @apply w-full h-max;
  .profile-card {
    @apply relative w-full h-full;
    .card-header {
      @apply h-4 flex items-center justify-between;
      .operation-contain {
        @apply w-max h-max;
      }
    }

    .card-content {
      @apply h-full w-full flex items-center;
      .info-contain {
        @apply w-full pl-5;
      }

      .el-avatar {
        @apply cursor-pointer;
      }
    }
  }
}

.edit-card {
  @apply mt-10 w-full h-max;
  transition: ease-in-out all .5s;

  .part-title {
    @apply select-none;
    color: #CC3399;
  }

  .info-part {
    @apply w-full h-max;
    .edit-form {
      @apply mt-3;
    }

    .edit-collapse {
      @apply mt-5;
    }
    .edit-button-contain {
      @apply w-max h-max relative;
      margin: 0 auto;
    }

    .security-button-contain {
      @apply block mt-3;
    }
  }
}

.rp-contain{
  @apply py-5;
  .rp-tag{
    @apply mx-2;
  }
}

.editAnime-enter-from,
.editAnime-leave-to {
  transform: translateY(30px);
}

.editAnime-leave-active {
  position: absolute;
}


.editAnime-enter-active {
  animation: zoomIn 1s;
}

.editAnime-leave-active {
  animation: zoomOut 1s;
}

.dialogAnime-enter-active {
  animation: zoomIn .5s;
}

.dialogAnime-leave-active {
  animation: zoomOut .5s;
}
